html,
main {
    font-family: Arial, Helvetica, sans-serif;
}

main,
header,
footer {
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#cart {

    text-align: center;
    padding: auto;
}


#left-side,
#right-side {
    margin-bottom: 20px;
    padding-bottom: 20px;

}

h1 {
    color: rgb(7, 7, 194);
    padding-top: 20px;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: left;
}

h2 {
    text-align: center;
    font-size: 2rem;

}

#codegg,
#tinhtien,
#tbl-pro,
#diachi {
    border-radius: 3px;
    background: white;
    padding: 10px;
    margin: 1px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}




#nhapgg,
#button-gg {
    border-radius: 0px;
    background-color: white;
}

#nhapgg {
    text-overflow: ellipsis;
}

#button-gg {

    background-color: blue;
    color: white;
}

#title-ma,
#title-tien,
#title-addr {
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(146, 43, 43);
}

#button-gg:active,
#button-gg:hover {
    background-color: rgb(3, 3, 154);
}

#title-tien {
    padding-left: 8px;
}

.tongtien {
    line-height: 0.5;
}

table {
    background-color: white;
    border-radius: 3px;

}

tr {
    border-radius: 50% !important;
}

.tb-col-1 {
    text-align: left;
    font-weight: 500;
}

.tb-col-2 {
    text-align: right;
}

#dathang {

    margin: 1px;
    margin-bottom: 10px;

}

div.btn-in-de {

    box-sizing: 20px;
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px rgb(200, 200, 200);
    border-radius: 3px;
    width: 84px;
    height: 30px;
    margin: 0 auto;
    text-align: center;

}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0;
    background: #eee;

}

.value-button:hover {
    cursor: pointer;
}

#decrease {
    vertical-align: middle;
    margin: 0px;
    border-radius: 8px 0px 0px 8px;
    width: 40px;
    height: 30px;

}

#increase {
    margin-left: 0px;
    border-radius: 0 8px 8px 0;
    width: 40px;

}

#increase:hover,
#decrease:hover {
    background: rgb(202, 201, 201);
}



input.number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none;
    margin: 0;
}



.image {
    margin: 8px;
    padding: 0px;
    width: 100px;
    height: 100px;
}

svg {
    width: 20px;
    padding: 3px;
    margin-top: 30px;
    margin-right: 5px;
    fill: rgb(224, 38, 103);
    border: rgb(254, 163, 163);
    border-radius: 5px;
    background-color: rgb(251, 220, 225);
}

.deleteall {
    padding: 3px;
    margin-top: 0px;
    margin-right: 5px;
    border-width: 0px;
}

svg:hover {
    background-color: rgb(248, 173, 186);
}

.favorite-item {
    background-image: url();
}





td {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    text-align: center;
    padding-top: 20px;
}

#right-td {
    text-align: right;
}

.btn-in-de {
    padding-top: 25px;
}

td {
    border-width: 0px;
}

.title-left {
    background: white;
    padding: 10px;
    margin: 1px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#empty-img {
    width: 400px;
    margin-left: 15%;
    margin-top: 10%;
    border: none;
    margin-bottom: 30%;

}

div#empty {
    box-shadow: none !important;
    background-color: white;
}



/* button.btn.btn-default{
    padding: 0px;
} */

.cart-btn {
    position: relative;
}


#mini-number {
    color: white;
    font-weight: 600;
    position: absolute;
    right: 60px;
    font-size: 15px;
    text-align: center;
    line-height: 1.2rem;
    margin-left: 5px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    top: 60px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

button#btn.fa.fa-shopping-cart.zero:before {
    opacity: 1;
}

#text-dltall:hover {
    text-decoration: underline;
    cursor: pointer;
}

.row-cols-8.dltall {
    background: white;
    padding: 10px;
    margin: 1px;
    margin-bottom: 10px;
    text-align: right;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#minicart {
    display: none;
}

p {
    margin: 0px;
    padding: 0px;
}

#edit-addr {
    position: relative;
    fill: rgb(67, 67, 249);
    background-color: rgb(227, 232, 237);
    margin: 0px;
    padding: 0px;
    float: right;
}

#title-addr {
    margin: 0px;
    padding: 0px;
}

.div-items {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 5px;
    z-index: 100;
    padding: 0px;
}

.form-check-input.checkbox.align-middle {
    margin-left: 0px;
    margin-top: 25px;
}

div.form-check.col-sm-1 {
    padding-left: 0px;
    padding-right: 0px;
}

div.col-sm-2,
div.col-sm-1 {
    padding: 0px;
}

div.newPrice.col-sm-4,
div.name.col-sm-5 {
    margin-top: 25px;
}

.color {
    background: rgb(234, 224, 224);
    color: rgb(187, 37, 37);
    text-align: center;
    margin-right: 130px;
    margin-top: 5px;

    width: fit-content;
    height: fit-content;
    font-weight: 700;
    font-size: 9pt;
    padding: 2px 15px;
    border-radius: 7px;
}

div.newPrice.col-sm-4 {
    text-align: center;
}

div.row.d-flex.div-items {
    margin: 0px;
    margin-bottom: 10px;

}

div.col-sm-1.col-2 {
    text-align: right;
}



@media only screen and (max-width: 576px) {
    h1 {
        font-size: 2.5rem;
    }
    #mini-number{
        top:210px;
        right:20px;
        animation: delay 1s ease;
    }       

    @keyframes delay {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    footer {
        display: none;
    }

    #empty-img {
        width: 80%;
        text-align: center;
        margin: 0px 0px 0px 15px;
    }

    #cart {
        
        margin-right: 20px;
        margin-top: 10px;
    }

    div.name.col-6 {
        margin-top: 10px;

    }

    img.image {
        width: 70px;
        height: 70px;
    }

    div.name.col-sm-5.col-12 {
        margin-top: 5px;
        font-size: 1rem;
        font-family: 400px;
        line-height: 1.3;
    }

    div.btn-in-de {
        padding-top: 5px;

    }

    div.newPrice.col-sm-4.col-12 {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: left;
    }

    div#tinhtien.col-12.col-sm-12 {

        margin-bottom: 10px;
        padding-right: 10px;
    }

    div.newPrice {
        padding: 10px
    }
}

@media only screen and (max-width: 768px) {

    div.name,
    div.btn-in-de,
    div.newPrice {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    
}

@media only screen and (min-width: 768px) {

    div.name,
    div.newPrice {
        padding-top: 25px;
        padding-bottom: 5px;
        padding-left: 5px;
    }
    
}

@media (min-width: 990px)and (max-width: 1200px) {

    #mini-number{
        top: 50px;
        right: 60px;
    }
    div.name,
    div.newPrice {
        padding-left: 20px;
    }
}

@media only screen and (min-width: 1200px) {

    #mini-number{
        top: 50px;
        right: 115px;
    }

}

@media (min-width: 820px) and (max-width: 990px) {

    #mini-number{
        top: 50px;
        right: 30px;
    }

}
